<% var panel_colors=["default","default","default","default"]; %>
<% var passages=0;
   var server=1;
for (var i=0;i<res.length;i++)
{
	ip=res[i];
	i++;
	re=res[i];
	for(var j=0;j<re.length;j++)
	{	
		if(passages%3==0)
		{
%>
<div class="row">
<%
		}	
%>
	<div class="col-md-4"> 
		<div class="panel panel-<%= panel_colors[j%panel_colors.length] %>">
			<div class="panel-heading">
				<div class="row">
					<b><a href="/details/<%= ip %>/<%= (re[j]["Id"]).substring(0,12) %>">
							Server <%= server %> Image <%= j+1 %> 
					</a></b>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tr>
						<td>Image</td><td><%= re[j]["Image"] %></td>
					</tr>
					<tr>
						<td>ID</td><td><%= (re[j]["Id"]).substring(0,12) %></td>
					</tr>
					<tr>
						<td>IP</td><td><%= ip %></td>
					</tr>
					<tr>
						<td>Network</td>
						<td>
							<table class="table table-striped">
								<tr>
									<th>IP</th>
									<th><span class="glyphicon glyphicon-log-in"></span></th>
									<th><span class="glyphicon glyphicon-log-out"</th>
								</tr>
								<% for(k=0;k<re[j]["Ports"].length;k++){%> 
								<tr>
									<td><%if(re[j]["Ports"][k]["IP"]=="0.0.0.0" || re[j]["Ports"][k]["IP"]==""){%><%= ip %><%}else{%><%=re[j]["Ports"][k]["IP"]%><%}%></td>
									<td><%= re[j]["Ports"][k]["PrivatePort"] %></td>
									<td><%= re[j]["Ports"][k]["PublicPort"] %></td>
								</tr>
								<% } %>
							</table>
						</td>

					</tr>
				</table>
			</div>
		</div>
	</div>
<%
			if((passages+1)%3==0)
			{
%>
</div><!--end of created row -->
<%
			}	
			passages++;
		}
		server++;	
	}	
	if(passages%3==1)
	{
%>
</div> <!-- end of row ! -->
<%
	}
%>
<% if(passages==0)
{
%>
<center><h3><b>No active containers !</b></h3><p>Start your first one with <a href="/images">"Image"</a></p></center>
<%
}
%>