<%include static/head.ejs %>
<div class="panel panel-default">
	<div class="panel-heading">
		Details of <b><%= res["Name"] %></b>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<table class="table table-striped table-condensed">
					<tr>
						<td>Image</td>
						<td><%= res["Config"]["Image"] %></td>
					</tr>
					<tr>
						<td>Cmd</td>
						<td><%= res["Config"]["Cmd"] %></td>
					</tr>
					<tr>
						<td>Date de création</td>
						<td><%= res["Created"] %></td>
					</tr>
					<tr>
						<table class="table table-striped">
							<tr>
								<th>IP</th>
								<th><span class="glyphicon glyphicon-log-in"></span></th>
								<th><span class="glyphicon glyphicon-log-out"</th>
							</tr>
							<% net=res["HostConfig"]["PortBindings"]; %>
							<% for (var key in net )
							{
							%>
							<tr>
								<td></td>
								<td><%= key %></td>
								<td><%= net[key][0]["HostPort"] %></td>
							</tr>	
							<%
							}
							%>
							
						</table>
					</tr>

				</table>
				
				
				
				

			</div>
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						Processus
					</div>
		 			<div class="panel-body">
		   				<div id="process"></div>
		   			</div>
		   		</div>
		 	</div>
		</div>
	</div>
</div>
	

<script type="text/javascript">
	
	function getProcess()
{
	$.ajax({
		url: '/process/<%= ip %>/<%= id %>',
		type: 'GET',
		success:function(html){
			$("#process").html(html);
		}
	})
}

$(document).ready(function()
{
	getProcess();
});

</script>


<%include static/foot.ejs %>